.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
.npmrc
.yarnrc
pnpm-lock.yaml
.github/**
.git/**
node_modules/**
*.vsix
**/.DS_Store
AGENTS.md
.pnpm-debug.log
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
