name: Publish Extension
on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@v4
    - uses: pnpm/action-setup@v4
      with:
        version: 9
    - uses: actions/setup-node@v4
      with:
        node-version: 20
        cache: 'pnpm'
    - run: pnpm install
    - run: pnpm run compile
    - run: npm install -g ovsx @vscode/vsce
    - run: vsce publish
      env:
        VSCE_PAT: ${{ secrets.VSCE_PAT }}
    - run: ovsx publish
      env:
        OVSX_PAT: ${{ secrets.OVSX_PAT }}
